Repository containers/automation_images, pull requests merged in 2022-07, with the labels that each got.

#143 Skip specified image builds based on PR labels
  .cirrus.yml
  README.md
  ci/make_base_images.sh
  ci/make_cache_images.sh
  ci/make_container_images.sh
  ci/make_image_builder.sh
  imgts/entrypoint.sh
  imgts/lib_entrypoint.sh
  lib.sh
Labels: no_ubuntu, no_skopeo_cidev, no_prior-fedora, no_fedora, no_fedora-aws, no_fedora-aws-arm64, no_build-push, no_fedora_podman, no_prior-fedora_podman, no_ubuntu_podman, no_fedora-netavark, no_fedora-netavark-aws, no_fedora-podman-py, no_image-builder, no_fedora-podman-aws

#145 Specify arm64 in relevant tasks for clarity
  .cirrus.yml
  cache_images/cloud.yml
Labels: no_ubuntu, no_skopeo_cidev, no_prior-fedora, no_fedora, no_fedora-aws, no_fedora-aws-arm64, no_build-push, no_fedora_podman, no_prior-fedora_podman, no_ubuntu_podman, no_fedora-netavark, no_fedora-netavark-aws-arm64, no_fedora-podman-py, no_image-builder, no_fedora-podman-aws-arm64

#153 [CI:TOOLING] Print names & IDs of all built images
  .github/workflows/pr_image_id.yml
  ccia/Containerfile
  ccia/README.md
  ccia/fake_manifests/Image-builder image/manifest/image_builder/manifest.json
  ccia/fake_manifests/build-push Cache Image/manifest/cache_images/manifest.json
  ccia/fake_manifests/fedora Base Image/manifest/base_images/manifest.json
  ccia/fake_manifests/fedora Cache Image/manifest/cache_images/manifest.json
  ccia/fake_manifests/fedora-aws Base Image/manifest/base_images/manifest.json
  ccia/fake_manifests/fedora-aws Cache Image/manifest/cache_images/manifest.json
  ccia/fake_manifests/fedora-aws-arm64 Base Image/manifest/base_images/manifest.json
  ccia/fake_manifests/fedora-netavark Cache Image/manifest/cache_images/manifest.json
  ccia/fake_manifests/fedora-netavark-aws-arm64 Cache Image/manifest/cache_images/manifest.json
  ccia/fake_manifests/fedora-podman-aws-arm64 Cache Image/manifest/cache_images/manifest.json
  ccia/fake_manifests/fedora-podman-py Cache Image/manifest/cache_images/manifest.json
  ccia/fake_manifests/ubuntu Base Image/manifest/base_images/manifest.json
  ccia/fake_manifests/ubuntu Cache Image/manifest/cache_images/manifest.json
  ccia/test.sh
Labels: no_ubuntu, no_skopeo_cidev, no_prior-fedora, no_fedora-aws, no_fedora-aws-arm64, no_build-push, no_prior-fedora_podman, no_ubuntu_podman, no_fedora-netavark, no_fedora-netavark-aws-arm64, no_fedora-podman-py, no_image-builder, no_fedora-podman-aws-arm64

#152 [CI:DOCS] Support only golang 1.18
  cache_images/ubuntu_packaging.sh
Labels: no_prior-fedora, no_prior-fedora_podman

#146 Force CgroupsV1 on Ubuntu
  cache_images/ubuntu_packaging.sh
  cache_images/ubuntu_setup.sh
Labels: no_prior-fedora, no_prior-fedora_podman
